extends ./base-frame-layout.jade

block title
  title 主页12
block body
  .um-frame#main
    #content.um-content
      img(src='../img/banner0.jpg', style='width:100%')
      .p15
        img(id='myphoto', src='../img/banner0.jpg', style='width:100%') 
block script
  script(src='../js/main.js')
