extends ./base-layout.jade

block title
  title 错误提示ffff
block style
  link(rel="stylesheet", href="../../static/404/404.css?#{version}")
block body
  .container
    img(src="../../static/img/404.png", alt="")
  p.
    adfafd
    adsfadf
    勾成图
block script
